
/* Search and replace. Remember to delete the beginning comment after replacing. */

/* #ff0000;/* red error or required text colour */
/* #6D306A;/* button background colour */
/* #FFC50A;/* button hover background colour */
/* #ffffff;/* button text colour */
/* #ffffff;/* button hover text colour */

/* #6D306A;/* left nav heading background colour */
/* #FFC50A;/* left nav heading hover background colour */
/* #ffffff;/* left nav heading text colour */
/* #ffffff;/* left nav heading hover text colour */
/* #ffffff;/* left nav child background colour */
/* #e8e8e8;/* left nav child background hover colour */
/* #b3b3b3;/* left nav child text colour */
/* #666868;/* left nav child hover text colour */

/* #e6e6e6;/* grey input border colour */
/* #6D306A;/* uniform heading background colour */
/* #ffffff;/* uniform heading text colour */
/* #e8e8e8;/* uniform focused div background */

/* 0px;/* border radius */
/* 1em;/* margin between left nav uls */
/* 1px 0px;/* spacing between left nav children */
/* 20px;/* padding left for buttons and left nav */
/* 14px;/* padding top / bottom for left nav */
/* 7px 20px;/* padding for buttons */
/* 18px;/* Job results title size */
/* 395px;/* job result description text width */
/* width: 170px;/* width of back to results and apply buttons */
/* url(http://images.jxt.net.au/responsive-11/images/apply-now-button.png) no-repeat; /* apply now button */
/* 285px;/* width of options on view job page (job-detail-centre) */
/* 25px;/* padding between job template and option links */
/* 0.7;/* opacity rollover for image links */

/* font-size: 17px; line-height: 1.2em; /* view job page options h2 style */



/* float clearing for IE6 */
* html .clearfix { height: 1%; overflow: visible; }

/* float clearing for IE7 */
*+html .clearfix { min-height: 1%; }

/* float clearing for everyone else */
.clearfix:after { clear: both; content: "."; display: block; height: 0; visibility: hidden; font-size: 0; }


/* Start of structure containers */
.job-holder, .job-holder { border: 1px solid #e6e6e6;/* grey input border colour */ clear: both; margin: 1em 0; padding: 10px 5px; border-radius:0px;/* border radius */ overflow: hidden; }
#content .job-container {  border: solid 1px #6D306A;/* button background colour */ }

.side-right-header { width:190px; background-color:#333333; padding:5px; color:#FFFFFF; font-weight:bold; font-size:14px; margin:0px 0px 5px 0px; }
.code { border: 1px solid #ccc; list-style-type: decimal-leading-zero; padding: 5px; margin: 0; }
.code code { display: block; padding: 3px; margin-bottom: 0; }
.code li { background: #ddd; border: 1px solid #ccc; margin: 0 0 2px 2.2em; }
.indent1 { padding-left: 1em; }
.indent2 { padding-left: 2em; }
/* end of side drop menu styles */



/* start of right side links styles */
.links-right { float:right; clear:both; width:100%; padding:0px; margin:0px; }
.links-right ul { list-style-type:none; margin: 0; padding: 0; width: 200px; }
.links-right ul li a { display:block; margin: 1px 0px; color:#333; padding:7px 10px 7px 17px; background-color:#CCCCCC; }
.links-right ul li a:hover { background-color:#EEEEEE; }
.links-right ul li ul { list-style-type:none; margin: 0px; padding:0px; width: 200px; }
.links-right ul li ul li a { display:block; margin: 1px 0px; color:#333; padding:7px 10px 7px 37px; background-color:#DDDDDD; }

/* start of table styles */
/*todo: style these tables*/
#box-table { margin: 10px 0; text-align: left; border-collapse: collapse; width:100%; }
#box-table a { color: #f60; }
#box-table th { font-weight: bold; padding: 8px; background: #DDDDDD; border-top: 4px solid #DDDDDD; border-bottom: 1px solid #fff; color: #000; }
#box-table td { padding: 8px; background: #EEEEEE; border-bottom: 1px solid #fff; color: #444; border-top: 1px solid transparent; }
#box-table tr:hover td { background: #FEFEFE; color: #222; }
.box-table a { text-decoration:underline !important; }
.box-table th { font-size: 13px; font-weight: bold; padding: 8px; background: #DDDDDD; border-top: 4px solid #DDDDDD; border-bottom: 1px solid #fff; color: #000; }
.box-table td { padding: 8px; background: #EEEEEE; border-bottom: 1px solid #fff; color: #444; border-top: 1px solid transparent; }
.box-table tr:hover td { background: #FEFEFE; color: #222; }
#jobsearch-top { clear:both; width:100%; }
.searchresult-number { color:#ff0000;/* red error or required text colour */ }
.red-remove { float:right; color:#ff0000;/* red error or required text colour */ }
.red-remove a { color:#ff0000;/* red error or required text colour */  }
.num-results { font-weight: bold; padding:0 0 10px 0; }
.search-options { float:right; width:155px; text-align:right; clear:right; }
.search-options .button { text-align: right; }

/* start of individual job search post */
.job-navbtns { float:left; padding:0px 0px 10px 0px; clear:both; *width:500px;
}
.job-navbtns .button { float: left; margin-right: 5px; }
.job-navbtn { float:left; display:inline; padding:0px 3px 0px 0px; }
.job-navbtn img { float:left; padding:0px; margin:0px; }

/* start of my x section styles */
.myx-holder { float:left; width:100%; clear:both; margin:10px 0px; }
.myx-leftsection { float:left; width:355px; margin:10px; }
.myx-rightsection { float:right; width:355px; margin:10px; }
.myx-boxleft { float:left; width:160px; margin:5px; }
.myx-boxright { float:right; width:160px; margin:5px; }
.breadcrumbs { float:right; text-align:right; font-size:11px; color:#263539; display:none; }
.adv-searchleft { float:left; margin:0px 10px; width:320px; }
.adv-searchright { float:left; margin:0px 10px; width:320px; }
.adv-searchbottom { clear: both; margin: 5px 10px; padding: 0; text-align: left; }

/* Start of Form styling */
/*Advertiser CSS*/
.form-label { width: 200px; }
.form-label-left { width:200px; }
.form-line { padding: 10px; }
.form-line hr { clear: both; }
.form-label-right { width: 200px; }
/* Form CSS */
.form-all { width: 100%; list-style: none !important; list-style-position: outside; margin: 0px 0 5px; }
.form-all ul li { background:none !important; margin:5px 0px; padding:0px; }
.form-captcha { border: 1px solid #ccc; background: #f5f5f5; padding: 6px; width: 152px; border-radius: 0px;/* border radius */ }
.form-captcha:hover { border: 1px solid #aaa; }
.form-captcha-image { border: 1px solid #aaa; border-radius: 0px;/* border radius */ }
.form-collapse-table { height: 58px; border: 1px solid #ccc; background: #f5f5f5 url(http://candle.com.hr/images/soft-grad.png) repeat-x; position: relative; }
.form-collapse-left { }
.form-collapse-mid { text-shadow: 0px 2px 0px #fff; float: left; font-size: 18px; margin: 16px 45px 16px 20px; }
.form-product-item { display: inline-block; padding: 5px 5px 5px 10px; position: relative; }
.form-product-item:hover { background: #f5f5f5; color: #000; }
.form-product-image, .form-product-image-with-options { margin: 5px; margin-left: 10px; }
.form-product-image-with-options { position: absolute; top: 15px; border-radius: 0px;/* border radius */ }
.form-radio, .form-checkbox { vertical-align: middle; margin: 0px; padding: 0px; }
.form-radio-item, .form-checkbox-item { margin-top: 5px; float: left; }
.form-multiple-column, .form-single-column { display: inline-block; }
.form-multiple-column .form-radio-item, .form-multiple-column .form-checkbox-item { width: 150px; }
.form-radio-item label, .form-checkbox-item label { margin-left: 5px; }
.form-radio-item br, .form-checkbox-item br { clear: left; }
.form-submit-button, .form-submit-reset, .form-submit-print { margin: 0px; overflow: visible; padding: 1px 6px; width: auto; }
 .form-submit-button::-moz-focus-inner, .form-submit-reset::-moz-focus-inner {
 border: 0px;
 padding: 1px 6px;
}
 .form-submit-print::-moz-focus-inner {
 padding: 0px 6px;
}
.form-submit-print { padding: 1px 6px; }
.form-collapse-right { position: absolute; right: 0px; height: 58px; width: 40px; }
.form-collapse-hidden { display: none; }
.form-grading-item { margin-bottom: 3px; }
.form-header { margin: 0px; }
.form-subHeader { border-top: 1px solid #ccc; font-style: italic; }
.form-header-group { background: none; padding: 12px 0px; clear: both; }
.form-label { width: 150px; margin-bottom: 6px; display: inline-block; }
.form-label-top { margin-bottom: 6px; display: inline-block; }
.form-label-left { float: left; display: inline-block; text-align: left; }
.form-label-right { float: left; display: inline-block; text-align: right; margin-right: 6px; margin-bottom: 6px; padding: 3px; }
.form-input-wide { }
.form-section ul { margin:15px 0px; }
.form-section, .form-section-closed { list-style: none; list-style-position: outside; margin: 0px; padding: 0px; position: relative; zoom: 1; }
.form-section-closed { overflow: hidden; height: 60px; }
.form-input { display: inline-block; float:left; }
.form-input input {  }/*todo*/
.form-input select { width: 170px !important; }/*todo*/

.form-input .form-radio-item input { width:30px !important; }
.form-line { clear: both; padding: 10px; margin: 0px; display: inline-block; width: 97%; width: -moz-available; /* Removed this because it was changing the size of the migrated forms */ /* border:1px solid transparent ; */ position: relative; }
.form-line-column { float: left; clear: none; width: auto; }
.form-line-column-clear { clear: left; width: auto; }
.form-line-active { background-color: #FFFFE0; /*outline: 1px solid #EEEED0;*/ color: #333; }
.form-matrix-table { border-collapse: collapse; font-size: 10px; }
.form-matrix-column-headers { border: 1px solid #ccc; background: #ddd; }
.form-matrix-row-headers { border: 1px solid #ccc; background: #ddd; }
.form-matrix-values { border: 1px solid #ccc; background: #f5f5f5; }
.form-pagebreak { border-top: 1px solid #ccc; background: #f5f5f5; height: 60px; clear: left; }
.form-pagebreak-back-container, .form-pagebreak-next-container { float: left; padding: 10px; padding-top: 14px; }
.form-pagebreak-next-container { padding-left: 0px; }
.form-pagebreak-back, .form-pagebreak-next { border-radius: 0px;/* border radius */ -webkit-box-shadow: 0px 1px 2px #aaa; -moz-border-radius: 5px 5px; -moz-box-shadow: 0px 1px 2px #aaa; border: 1px solid #999; background: #ddd; padding: 5px; margin: 0px; font-size: 14px; }
.form-pagebreak-next { margin: 0 0 0 20px; }
.form-required { margin-left: 5px; color: red; }
.form-scale-table { font-size: 12px; }
.form-scale-table th { border-bottom: 1px solid #ccc; color: #999; }
.form-product-details { font-size: 9px; color: #999; font-style: italic; }
.form-address-table { width: 330px; }
.form-address-line { width: 310px; }
.form-address-city, .form-address-state { width: 144px; }
.form-address-table td, .form-address-table th { padding-bottom: 10px; }
.form-address-table select { width: 150px; }
.form-button-error { color: red; display: inline; }
.form-line-error { background: #FFAAAA; /*border:1px solid #FFAAAA;*/ color: #333; }
.form-validation-error { border: 2px solid red; }
.form-line-active .form-error-message { display: none; }

/* styles for form input textboxes */
.form-smalltextbox { font-size: 12px; width:100px !important; }
.form-textbox { font-size: 12px; width:160px; border: solid 1px #e6e6e6;/* grey input border colour */ }
.form-textbox2 { font-size: 12px; width:200px !important; border: solid 1px #e6e6e6;/* grey input border colour */ }
.form-textarea { font-size: 12px; width:400px !important; }

/* styles for form dropdown fields */
.form-dropdown { width:160px; }
.form-dropdown2 { width:200px !important; }
.form-error-message { background: none repeat scroll 0 0 #FFCCCC; border: 1px solid #DD8888; color: #333333; margin: 8px 0; padding: 5px; z-index: 900; }
/*
.form-error-message {
    z-index: 900;
    position: absolute;
    max-width: 130px;
    right: 0px;
    top: 0px;
    color: #333;
    padding: 3px;
    font-size: 10px;
    border: 4px solid #dd8888;
    -moz-box-shadow: 0px 2px 4px #666;
    -webkit-box-shadow: 0px 2px 4px #666;
    -moz-border-radius: 6px 6px;
    -webkit-border-radius: 6px 6px;
    background: #FFCCCC;
}
*/

.form-input .form-error-message, .form-input-wide .form-error-message { bottom: -5px; font-size: 11px; position: relative; z-index: 900; right: auto; top: auto; color: #333; padding: 3px; max-width: 100%; padding-bottom: 3px; font-size: 12px; border: none; -moz-box-shadow: 0px 2px 4px #666; -webkit-box-shadow: 0px 2px 4px #666;  border-radius: 0px;/* border radius */ background: #FFCCCC; }
.form-description { z-index: 1000; position: absolute; right: 7px; max-width: 150px; top: 6px; -moz-box-shadow: 0px 2px 4px #666; -webkit-box-shadow: 0px 2px 4px #666; border: 4px solid #ccc; border-radius: 0px;/* border radius */ background: #f5f5f5; }
.form-description-content { padding: 10px; font-size: 10px; color: #333; }
.form-description-arrow { border-color: transparent #CCCCCC transparent transparent; border-style: solid; border-width: 10px; height: 0; width: 0; left: -24px; top: 7px; position: absolute; }
.form-description-arrow-small { border-color: transparent #F5F5F5 transparent transparent; border-style: solid; border-width: 7px; height: 0; width: 0; left: -14px; top: 10px; position: absolute; }
.form-autocomplete-list { font-size: 12px; background: #333; background: rgba(26,58,81,0.8); border: 1px solid #eee; border-top: none; padding: 5px 0; -webkit-border-bottom-right-radius: 0px;/* border radius */ -webkit-border-bottom-left-radius: 0px;/* border radius */ -moz-box-shadow: 0px 5px 10px rgba(0,0,0,0.6); }
.form-autocomplete-list-item { margin: 0 5px; border: 1px solid transparent; color: #fff; padding: 3px; border-radius: 0px;/* border radius */ text-shadow: 1px 1px 3px #000; cursor: pointer; }
.form-autocomplete-list-item-selected, .form-autocomplete-list-item:hover { -moz-box-shadow: 0 0 4px #333; -webkit-box-shadow: 0 0 4px #333; border: 1px solid #1a3a51; background: #4295D1; }
.form-autocomplete-list-item:hover { border: 1px solid #ccc; }
.form-sub-label-container { display: inline-block; margin-right: 5px; }
.form-sub-label { display: block; }
.form-html { padding: 3px; }
.form-radio-other-input { margin-left: 5px; }
#register-title { display: inline; }



/*
* TODO: This a fix for column view in IE6 and IE7
* only in single column. After relaxing we have
* to change the HTML code directly to fix column
* problems in IE6 and IE7.
*/

.form-single-column .clearfix { display: inline-block; }
.form-single-column .clearfix { display: block; }

/* End of Form styling */
.search-sequence { float:left; width:100%; vertical-align:top; text-align:left; clear:both; }
.seq-box { float:left; margin:10px; padding:10px; vertical-align:top; text-align:left; }
.seq-box p { margin:0px; padding:0px; }
.seq-submit { margin:0px 0px 0px 15px; padding:0px; }
.seq-box label { font-weight:bold; }
.seq-textbox { width:100px; padding:0px; margin:5px 0px 0px 0px; }
.seq-dropdown { width:100px; padding:0px; margin:5px 0px 0px 0px; }
.seq-arrow { float:left; margin:42px 0px 0px 0px; vertical-align:top; text-align:left; }








/* start of tabs styling */
#wrapper ul.tabs { list-style: none; margin: 0; padding: 0; }
#wrapper ul.tabs li { display: inline; margin: 0; padding: 0; position: relative; background-image: none; }
#wrapper ul.tabs li a { display: inline-block; color:#ffffff;/* left nav heading text colour */ padding:0 15px; padding-top:14px;/* padding top / bottom for left nav */ padding-bottom:14px;/* padding top / bottom for left nav */ background-color:#6D306A;/* left nav heading background colour */; text-decoration:none; border-top-left-radius:0px;/* border radius */ border-top-right-radius:0px;/* border radius */ }
#wrapper ul.tabs li a:hover { color: #ffffff;/* left nav heading hover text colour */ background: #FFC50A;/* left nav heading hover background colour */ }
#wrapper ul.tabs li.active a { color: #ffffff;/* left nav heading hover text colour */ background: #FFC50A;/* left nav heading hover background colour */ }

#wrapper .tab_container { border: solid 1px #e6e6e6;/* grey input border colour */ border-radius:0px;/* border radius */ border-top-left-radius: 0; min-height: 400px; }
#wrapper .tab_content { padding: 0.5em 20px;/* padding left for buttons and left nav */ }

#ucmemberedit-date-of-birth .form-sub-label-container { display: block; margin: 5px; padding: 5px; }
#ucmemberedit-date-of-birth .form-sub-label { display: inline-block; }
#ucmemberedit-desired-pay select { display: block; }

/* end of tabs styling */













#jobbrowse-topholder { float:left; width:100%; clear:both; }

/* start of job browse styles */
.jobbrowse-LHC { float:left; width:300px; padding:10px; }
.jobbrowse-LHC a { color:#000; text-decoration:none; }
.jobbrowse-LHC a:hover { text-decoration:underline; }
.line-break { margin:5px 0px; border-bottom: dotted 1px #e6e6e6;/* grey input border colour */ width:100%; }
.jobbrowse-RHC { float:right; width:300px; padding:10px; }
.jobbrowse-RHC a { color:#000; text-decoration:none; }
.jobbrowse-RHC a:hover { text-decoration:underline; }
.jobbrowse-listbox { float:left; margin:0px 0px 15px 0px; width:300px; clear:both; }

/* sitemap list styles  */

/* search people */
.people-individual-container-header { font-weight:bold; border:1px solid #e6e6e6;/* grey input border colour */ margin:0px; padding:0px; overflow: hidden; }
.people-individual-container { border-bottom:1px solid #e6e6e6;/* grey input border colour */ border-left:1px solid #005A7E; border-right:1px solid #005A7E; margin:0px; padding:0px; overflow: hidden; }
.people-location { width:200px; float:left; padding:5px 10px; }
.people-details { width:200px; float:left; padding:5px 10px; }
.people-photo { width:150px; float:left; padding:5px 10px; }
.people-details a { color:#FFF !important; }

.people-location-header { float: left; width: 200px; padding: 5px 10px; }
.people-details-header { float: left; width: 200px; padding: 5px 10px;  }
.people-photo-header { float: left; width: 150px; padding: 5px 10px;  }

/* news */
#messageBox { position: absolute; z-index: 10; background:#ffc; padding:5px; border:1px solid #CCCCCC; text-align:center; font-weight:bold; }
.news-individual-container { padding: 0 0 1em 0; margin: 0 0 1em 0; border-bottom: solid 1px #e6e6e6;/* grey input border colour */ }
.news-individual-container-header { display: none; }
.news-social { text-align: right; }
.news-share-title { display: none; }
.news-social a:hover { opacity: 0.7;/* opacity rollover for image links */ }
.news-social img { border:none; }

/* Start Site Search FrontEnd */
.siteSearch-individual-container { border:1px solid #e6e6e6;/* grey input border colour */ margin:0px; padding:0px; }
.siteSearch-details { margin:0px; padding:5px 10px; }
.siteSearch-search-holder { clear:both; margin:0px 0px 15px 0px; }
/* End Site Search FrontEnd */
/* Start Company Search FrontEnd */
.companySearch-search-holder { float:left; clear:both; background-color:#EEEEEE; border:1px #999999 solid; margin:0px 0px 15px 0px; width:60%; padding:10px; }
/* End Site Search FrontEnd */
/* Start Member Broadcast Link */
.linkMemberBroadcastViewMore { float:right; }
/* End Member Broadcast Link */
/* Member/Advertiser Home */
.member-home { float:left; width:100%; border:1px solid #999999; clear:both; margin:0px 0px 20px 0px; }
.member-profile-pic { float:left; width:150px; margin:20px; }
.member-info { float:left; margin:20px 0px 0px 0px; text-align:left; width:400px; }
.advertiser-home { float:left; width:100%; border:1px solid #999999; clear:both; margin:0px 0px 20px 0px; }
.advertiser-logo-pic { float:left; width:150px; margin:20px; }
.advertiser-info { float:left; margin:20px 0px 0px 0px; text-align:left; width:400px; }
/* End of Member/Advertiser Home */
 




.arnold-section-menu, .arnold-latest-jobs { display: inline; }
.login-main-holder { }
.job-toplink { float: left; margin: 0 0 0 25px; padding-bottom: 0.5em; width: 65%; }
.job-toplink a { font-size: 18px;/* Job results title size */ line-height: 1.2em; }
.job-rightlinks { float: right; padding-right: 5px; width: 160px; text-align:right; }
.dateText { display: block; font-size: 11px; padding: 5px 0; text-align: right; }
.nameofcompany { margin:5px 0px; text-align:left; }
.job-checkbox { float:left; width: 15px; }
.description-holder { float:left; clear:both; width:100%; }
.locandsalary { float:left; vertical-align:text-top; margin: 0 0 0 10px; width:120px; }
.jxt-result-loc { display:block; width:100%; clear:both; text-align:left; padding:0px; margin:0px; }
.jxt-result-salary { display:block; width:100%; display:none; clear:both; text-align:left; padding:0px; margin:0px; }
.description-text { float: left; line-height: 1.5em; margin: 0 0 0 20px; vertical-align: text-top; width: 395px;/* job result description text width */ }
.description-logo { float: right; text-align:right; vertical-align:top; width:118px; height:40px; }
.description-logo img { padding:0px; margin:0px; }
.job-breadcrumbs { clear: both; float: left; font-size: 11px; margin: 5px 0 0 165px; text-align: left; vertical-align: text-top; width: 430px; }
/* end of individual job search post */


.by-postcode { width:190px; background-color:#666666; padding:5px 4px 5px 6px; color:#FFFFFF; font-size:12px; margin:1px 0px 5px 0px; }
.postcode-input { margin:0px 5px 3px 10px; }
.postcode-btn img { margin:5px 0px -5px 0px; }
/*
#content-2column { 
    float: left;
    width: 770px;
}*/

/* start of pagination styles  */

#tnt_pagination { display:block; text-align:left; height:22px; line-height:21px; clear:both; padding-top:3px; font-size:12px; font-weight:normal; }
#tnt_pagination a:link, #tnt_pagination a:visited { border: medium none; color: #CCCCCC; font-weight: normal; margin-left: 10px; padding: 2px 3px; text-decoration: none; width: 22px; }
#tnt_pagination a:hover { background-color:#008ed6; color:#FFF; }
#tnt_pagination .active_tnt_link { padding:7px; padding-top:2px; padding-bottom:2px; border:1px solid #BBDDFF !important; margin-left:10px; text-decoration:none; background-color:#008ED6 !important; color:#111; cursor:default; }
#tnt_pagination .disabled_tnt_pagination { border: medium none; color: #CCCCCC; cursor: default; margin-left: 10px; padding: 2px 3px; text-decoration: none; }
/* end of pagination styles  */

#jobdetail-left-bg { float:left; width:100%; background-image:none; background-repeat:no-repeat; }
.job-detail-left { float:left; width:460px; }
.jobdetail-top { float:left; width:100%; margin:10px 0px; }
.job-detail-centre { float: right; width: 285px;/* width of options on view job page (job-detail-centre) */ }
.jobtemp-holder { float:left; width:460px; clear:both; margin:0px; padding:0px; }
.job-detailtop-title { float: left; font-size: 13px; width: 440px; color:#333; }
.backtoresults { float: right; width: 285px;/* width of options on view job page (job-detail-centre) */ }
.backtoresults a { width: 102px; margin-left: 25px;/* padding between job template and option links */ }
.jobdetail-padding { padding:0px 0 10px 25px;/* padding between job template and option links */ }
.jd-btm-description .jobdetail-padding { padding:0px; }
.jdsr-padding-option { float:right; clear:both; padding:0px; margin:0px; }







#content .jobdetail-options { margin:0px 0px 1em 0px; }
#content .jobdetail-options h2 { margin: 1em 0 0; font-size: 17px; line-height: 1.2em; /* view job page options h2 style */ }
#content .jobdetail-options ul { margin: 0.5em 0; padding:0; clear:both; list-style: none; }
#content .jobdetail-options ul li { margin: 0; padding: 0; background: transparent; }
#content .jobdetail-options ul li a { display: block; margin: 0; padding: 10px 0 10px 35px; background-image:url(http://jxt.net.au/images/buttons/next.png); background-position:0 50%; background-repeat:no-repeat; }
#content .email-image a { background-image:url(http://jxt.net.au/images/buttons/Email-Icon.png) !important; }
#content .print-image a { background-image:url(http://jxt.net.au/images/buttons/printer-png-icon.png) !important; }
#content .notes-image a { background-image:url(http://jxt.net.au/images/buttons/shortlist.png) !important; }
#content .save-image a { background-image:url(http://jxt.net.au/images/buttons/floppy-icon.png) !important; }
#content .tags-image a { background-image:url(http://jxt.net.au/images/buttons/Tag-Add.png) !important; }
#content .facebook-image a { background-image:url(http://jxt.net.au/images/buttons/facebook.png) !important; }
#content .twitter-image a { background-image:url(http://jxt.net.au/images/buttons/twitter.png) !important; }
#content .linked-in-image a { background-image:url(http://jxt.net.au/images/buttons/linked-IN.png) !important; }
#content .rss-feed-image a { background-image:url(http://jxt.net.au/images/buttons/rss.png) !important; }
#content .apply-now-image2 { margin-top: 1em; }
#content .jd-btm-description { float:left; width:460px; margin:0px; padding:0px; text-align:left; }
#content .jd-btm-description p { margin:0px; padding:0px; }
#content .form-all ul li { padding: 5px 0px; list-style-type: none; list-style-image: none; }
#content .adv-search-holder label { float: left; width: 110px; }


.apply-now-link a {
	display: block; 
	clear:both; 
	width: 170px;/* width of back to results and apply buttons */
	height:45px; 
	margin:0 0 2em 0; 
	
	color: #ffffff;/* button text colour */
	background: url(http://images.jxt.net.au/responsive-11/images/apply-now-button.png) no-repeat; /* apply now button */
	font-weight: bold;
	line-height: 45px;
	text-decoration: none;
	text-align: center;
}
.apply-now-link a:hover { background-position: left -45px; color: #ffffff;/* button hover text colour */ }











/* Start Uniform CSS - Create Job Alert */
.uniForm {}
.uniForm legend { font-weight: bold; font-size: 100%; margin: 0; padding: 1.5em 0; }
.uniForm .ctrlHolder { padding: 1em; border-bottom: 1px solid #e6e6e6;/* grey input border colour */ }
.uniForm .ctrlHolder.focused { background: #e8e8e8;/* uniform focused div background */ }
.uniForm .inlineLabels .noLabel { }
.uniForm .buttonHolder { text-align: right; margin: 1.5em 0 0 0; padding: 1.5em 0; }
.uniForm .buttonHolder .primaryAction { padding: 10px 22px; line-height: 1; background: #254a86; border: 1px solid #163362; font-size: 12px; font-weight: bold; color: #fff; /* CSS3 */
                                             border-radius: 0px;/* border radius */
											 box-shadow: 1px 1px 0 #fff; -webkit-box-shadow: 1px 1px 0 #fff; -moz-box-shadow: 1px 1px 0 #fff; text-shadow: -1px -1px 0 rgba(0,0,0,.25); }
.uniForm .buttonHolder .primaryAction:active { position: relative; top: 1px; }
.uniForm .secondaryAction { text-align: left; }
.uniForm button.secondaryAction { background: transparent; border: none; color: #777; margin: 1.25em 0 0 0; padding: 0; }
.uniForm .inlineLabels label em,  .uniForm .inlineLabels .label em { font-style: normal; font-weight: bold; }
.uniForm label small { font-size: .75em; color: #777; }
.uniForm .textInput,  .uniForm textarea { padding: 0px 6px; border: 1px solid #e6e6e6;/* grey input border colour */ background: #fff; height: 2em; }
.uniForm textarea { height: 12em; }
.uniForm select { }
.uniForm .fileUpload { }
.uniForm ul { }
.uniForm li { }
.uniForm ul li label { font-size: .85em; }
.uniForm .small { }
.uniForm .medium { }
.uniForm .large { } /* Large is default and should match the value you set for .textInput, textarea or select */
.uniForm .auto { }
.uniForm .small,  .uniForm .medium,  .uniForm .auto { }
/* Get rid of the 'glow' effect in WebKit, optional */
      .uniForm .ctrlHolder .textInput:focus,  .uniForm .ctrlHolder textarea:focus { outline: none; }
.uniForm .formHint { font-size: .85em; color: #777; }
.uniForm .inlineLabels .formHint { padding-top: .5em; }
.uniForm .ctrlHolder.focused .formHint { color: #333; }
/* ----------------------------------------------------------------------------- */
/* ############################### Messages #################################### */
/* ----------------------------------------------------------------------------- */

  /* Error message at the top of the form */
  .uniForm #errorMsg { background: #ffdfdf; border: 1px solid #f3afb5; margin: 0 0 1.5em 0; padding: 0 1.5em; /* CSS3 */
border-radius:0px;/* border radius */ }
.uniForm #errorMsg h3 { } /* Feel free to use a heading level suitable to your page structure */
.uniForm #errorMsg ol { margin: 0 0 1.5em 0; padding: 0; }
.uniForm #errorMsg ol li { margin: 0 0 3px 1.5em; padding: 7px; background: #f6bec1; position: relative; font-size: .85em;
/* CSS3 */
border-radius:4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-o-border-radius:4px;
-khtml-border-radius:4px;}
.uniForm .ctrlHolder.error,  .uniForm .ctrlHolder.focused.error { background: #ffdfdf; border: 1px solid #f3afb5;
/* CSS3 */
border-radius:4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-o-border-radius:4px;
-khtml-border-radius:4px;}
.uniForm .ctrlHolder.error input.error,  .uniForm .ctrlHolder.error select.error,  .uniForm .ctrlHolder.error textarea.error { color: #af4c4c; margin: 0 0 6px 0; padding: 4px; }
/* Success messages at the top of the form */
  .uniForm #okMsg { background: #c8ffbf; border: 1px solid #a2ef95; margin: 0 0 1.5em 0; padding: 1.5em; text-align: center;
  /* CSS3 */
border-radius:4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-o-border-radius:4px;
-khtml-border-radius:4px;}
.uniForm #okMsg p { margin: 0; }
/* ----------------------------------------------------------------------------- */
/* ############################### Columns ##################################### */
/* ----------------------------------------------------------------------------- */

.uniForm .col { }
.uniForm .col.first { }
.uniForm .col.last { }
.uniForm .col { margin-bottom: 1.5em; }
/* Use .first and .last classes to control the layout/spacing of your columns */
.uniForm .col.first { width: 49%; float: left; clear: none; }
.uniForm .col.last { width: 49%; float: right; clear: none; margin-right: 0; }
.uniForm { margin: 0; padding: 0; position: relative; z-index: 1; } /* reset stuff */
/* Some generals and more resets */
.uniForm fieldset { border: none; margin: 0; padding: 0; }
.uniForm fieldset legend { margin: 0; padding: 0; }
/* This are the main units that contain form elements */
.uniForm .ctrlHolder,  .uniForm .buttonHolder { margin: 0; clear: both; overflow: hidden; }
/* Clear all floats */ 
/*.uniForm:after,  .uniForm .buttonHolder:after,  .uniForm .ctrlHolder:after,  .uniForm .ctrlHolder .multiField:after,  .uniForm .inlineLabel:after { content: "."; display: block; height: 0; line-height: 0; font-size: 0; clear: both; min-height: 0; visibility: hidden; } - removed and used overflow:hidden above.*/
.uniForm label,  .uniForm button { cursor: pointer; }
/* ------------------------------------------------------------------------------ */
/* ##########################   DEFAULT LAYOUT   ################################ */
/* ------------------------------------------------------------------------------ */
/*       Styles for form controls where labels are above the input elements       */
/* ------------------------------------------------------------------------------ */

.uniForm label, .uniForm .label { display: block; float: none; margin: 0 0 .5em 0; padding: 0; line-height: 100%; width: auto; }
/* Float the input elements */
.uniForm .textInput, .uniForm .fileUpload, .uniForm .selectInput, .uniForm select, .uniForm textarea { float: left; width: 53%; margin: 0; }
/* Read-Only output */
.uniForm .readOnlyLabel { margin: 0; font-size: 1em; font-weight: bold; }
.uniForm .readOnly { font-size: .85em; }
.uniForm .readOnly .choiceLabel { color: #777; text-transform: uppercase; font-size: .75em; letter-spacing: .15em; }
/* Postition the hints */
.uniForm .formHint { float: right; width: 43%; margin: 0; clear: none; }
/* Position the elements inside combo boxes (multiple inputs/selects/checkboxes/radio buttons per unit) */
.uniForm ul { float: left; width: 53%; margin: 0; padding: 0; }
.uniForm ul li { margin: 0 0 .5em 0; list-style: none; }
.uniForm ul li label { margin: 0; float: none; display: block; overflow: visible; }
/* Alternate layout */
.uniForm ul.alternate li { float: left; width: 30%; margin-right: 3%; }
.uniForm ul.alternate li label { float: none; display: block; width: 98%; }
.uniForm ul .textInput,  .uniForm ul .selectInput,  .uniForm ul select,  .uniForm ul.alternate .textInput,  .uniForm ul.alternate .selectInput,  .uniForm ul.alternate select { width: 98%; margin-top: .5em; display: block; float: none; }
/* Required fields asterisk styling */
.uniForm label em,  .uniForm .label em { float: left; width: 1em; margin: 0 0 0 -1em; }
/* ------------------------------------------------------------------------------ */
/* #########################   ALTERNATE LAYOUT   ############################### */
/* ------------------------------------------------------------------------------ */
/*    Styles for form controls where labels are in line with the input elements   */
/*    Set the class of the parent (preferably to a fieldset) to .inlineLabels     */
/* ------------------------------------------------------------------------------ */

.uniForm .inlineLabels label,  .uniForm .inlineLabels .label,  .uniForm .inlineLabels .readOnlyLabel { float: left; margin: 0 2% 0 0; line-height: 26px; padding: 0; position: relative; width: 32%; }
.uniForm .inlineLabels .readOnlyLabel { margin: 0; }
/* Float the input elements */
.uniForm .inlineLabels .textInput,  .uniForm .inlineLabels .fileUpload,  .uniForm .inlineLabels .selectInput,  .uniForm .inlineLabels select,  .uniForm .inlineLabels textarea, #search-keyword input[type=text] { float: left; width: 60%; }
/* Postition the hints */
.uniForm .inlineLabels .formHint { clear: both; float: none; width: auto; margin-left: 34%; position: static; }
/* Position the elements inside combo boxes (multiple inputs/selects/checkboxes/radio buttons per unit) */
.uniForm .inlineLabels ul { float: left; width: 66%; }
.uniForm .inlineLabels ul li { margin: .5em 0; }
.uniForm .inlineLabels ul li label { float: none; display: block; width: 100%; }
/* Alternate layout */
.uniForm .inlineLabels ul.alternate li { margin-right: 3%; margin-top: .25em; }
.uniForm .inlineLabels ul li label .textInput,  .uniForm .inlineLabels ul li label textarea,  .uniForm .inlineLabels ul li label select { float: none; display: block; width: 98%; }
.uniForm .inlineLabels .readOnly { float: right; width: 66%; }
/* Required fields asterisk styling */
.uniForm .inlineLabels label em,  .uniForm .inlineLabels .label em { display: block; float: none; margin: 0; position: absolute; right: 0; top: 0; color: #ff0000;/* red error or required text colour */ }
.uniForm li { padding: 0; margin: 0; background-image: none; }

/* ----------------------------------------------------------------------------- */
/* ########################### Additional Stuff ################################ */
/* ----------------------------------------------------------------------------- */

  /* Generals */
.uniForm legend { color: inherit; }
.uniForm .secondaryAction { float: left; }
/* .inlineLabel is used for inputs within labels - checkboxes and radio buttons */
.uniForm .inlineLabel input,  .uniForm .inlineLabels .inlineLabel input,  .uniForm .blockLabels .inlineLabel input,       /* class .inlineLabel is depreciated */
.uniForm label input { float: none; display: inline; margin: 0; padding: 0; border: none; }
.uniForm .buttonHolder .inlineLabel,  .uniForm .buttonHolder label { float: left; margin: .5em 0 0 0; width: auto; max-width: 60%; text-align: left; }
/* When you don't want to use a label */
.uniForm .inlineLabels .noLabel ul { margin-left: 34%; /* Match to width of label + gap to field */ }
/* Classes for control of the widths of the fields */
.uniForm .small { width: 30% !important; }
.uniForm .medium { width: 286px !important; }
.uniForm .large {  } /* Large is default and should match the value you set for .textInput, textarea or select */
.uniForm .auto { width: auto !important; height: auto !important; }
.uniForm .small,  .uniForm .medium,  .uniForm .auto { margin-right: 4px; }
/* Columns */
.uniForm .col { float: left; }
.uniForm .col { width: 50%; }
.uniForm h2 { margin: 1em 0 1em 1.15em; }
.uniForm fieldset h3 { margin: 1.5em -28px; padding: 14px 28px; background: #6D306A;/* uniform heading background colour */ color: #ffffff;/* uniform heading text colour */ }
.uniForm {margin: 0 auto; padding: 0 28px;}
.browse { margin: 0; position: fixed; top: 28px; right: 28px; width: 84px; padding: 28px 28px 14px 28px; font-size: 12px; background: #97a2b0;
/* CSS3 */
border-radius:4px;
-webkit-border-radius:4px;
-moz-border-radius:4px;
-o-border-radius:4px;
-khtml-border-radius:4px;}
.browse h2 { font-size: 12px; margin: 0 0 14px 0; }
.browse ul { margin: 0; padding: 0; }
.browse li { margin: 0 0 14px 0; padding: 0; list-style: none; }
.download { float: right; position: relative; top: 2px; }
.intro { width: 55%; margin: 28px auto; text-align: center; font-size: 1.15em; }
/* IE6 fixes for the page */
* html form.uniForm { overflow: hidden; }
* html .browse { position: absolute; }
/*End of uniForms */


/* Sidebar menus - links-2 and side-drop-menu */

ul#side-drop-menu, ul#side-drop-menu ul, .links-2 ul { list-style-type:none; margin:0; padding: 0; }
ul#side-drop-menu li, .links-2 ul li { display: block; }
ul#side-drop-menu li a, .links-2 ul li a { display: block; color:#ffffff;/* left nav heading text colour */ padding:0 20px;/* padding left for buttons and left nav */ padding-top:14px;/* padding top / bottom for left nav */ padding-bottom:14px;/* padding top / bottom for left nav */ background-color:#6D306A;/* left nav heading background colour */; text-decoration:none; border-top-left-radius:0px;/* border radius */ border-top-right-radius:0px;/* border radius */ }
ul#side-drop-menu li a:hover, .links-2 ul li a:hover { color: #ffffff;/* left nav heading hover text colour */ background: #FFC50A;/* left nav heading hover background colour */ }
ul#side-drop-menu li ul li a , .links-2 ul li ul li a { display:block; margin: 1px 0px;/* spacing between left nav children */ color:#b3b3b3;/* left nav child text colour */ background-color:#ffffff;/* left nav child background colour */ border-radius:0;}
ul#side-drop-menu li ul li a:hover, .links-2 ul li ul li a:hover, .search-query p:hover { color: #666868;/* left nav child hover text colour */ background-color:#e8e8e8;/* left nav child background hover colour */ }
ul#side-drop-menu li ul li:last-child a, .links-2 ul li ul li:last-child a { border-bottom-left-radius:0px;/* border radius */ border-bottom-right-radius:0px;/* border radius */ }



.side-left-header { display: none; }
.search-query h3 {display:none;}
.search-query { border-radius:0px;/* border radius */ overflow: hidden; }
.search-query p { display:block; margin: 1px 0px;/* spacing between left nav children */ color:#b3b3b3;/* left nav child text colour */ background-color:#ffffff;/* left nav child background colour */ padding:0 20px;/* padding left for buttons and left nav */ padding-top:14px;/* padding top / bottom for left nav */ padding-bottom:14px;/* padding top / bottom for left nav */ text-decoration:none; }
ul#side-drop-menu ul, #wrapper .links-2 ul ul, .search-query { margin-bottom: 1em;/* margin between left nav uls */ }


.login-status { border-radius:0px;/* border radius */ color:#b3b3b3;/* left nav child text colour */ background-color:#ffffff;/* left nav child background colour */ padding:0 20px;/* padding left for buttons and left nav */ padding-top:14px;/* padding top / bottom for left nav */ padding-bottom:14px;/* padding top / bottom for left nav */ margin-bottom: 1em; }
.login-status hr {display:none;}
.login-status p { margin: 0; padding: 0; }
.login-name { font-weight:bold; }

.code { border: 1px solid #ccc; list-style-type: decimal-leading-zero; padding: 5px; margin: 0; }
.code code { display: block; padding: 3px; margin-bottom: 0; }
.code li { background: #ddd; border: 1px solid #ccc; margin: 0 0 2px 2.2em; }
.indent1 { padding-left: 1em; }
.indent2 { padding-left: 2em; }

/* end Sidebar menus - links-2 and side-drop-menu */



/* start of buttons */

.button a, .mini-new-buttons, #content .backtoresults a, .back-to-news-index, .form-buttons-wrapper input { padding: 7px 20px;/* padding for buttons */ display:inline-block; border: none; color: #ffffff;/* button text colour */ cursor: pointer; font-weight: normal; text-decoration: none; background-color:#6D306A;/* button background colour */ border: none; border-radius:0px;/* border radius */ text-decoration:none; text-align: center; }
.button a:hover, .mini-new-buttons:hover, #content .backtoresults a:hover, .back-to-news-index:hover, .form-buttons-wrapper input:hover { background-color: #FFC50A;/* button hover background colour */ color: #ffffff;/* button hover text colour */ }
.button a:active, .mini-new-buttons:active, #content .backtoresults a:active, .apply-now-link a:active {position: relative; top: 1px; }

#content .backtoresults a
{
	width: 170px;/* width of back to results and apply buttons */
	padding-left: 0;
	padding-right: 0;
	
	text-align: center;
}

/* end of buttons */


/* advanced search form */

#advanced_search-holder .rows {
    border-bottom: 1px solid #e6e6e6;/* grey input border colour */
    clear: both;
    display: inline-block;
    width: 100%;
	padding: 1em 0;
}
#advanced_search-holder .left-col {
    float: left;
    text-align: left;
    vertical-align: top;
    width: 30%;
}
#advanced_search-holder .right-col {
    float: left;
    text-align: left;
    vertical-align: top;
    width: 300px;
}
#advanced_search-holder .buttonHolder {
    clear: both;
    padding: 1.5em;
    text-align: right;
}
#advanced_search-holder .right-col input.form-textbox, #search-keyword input[type=text], #advanced_search-holder .right-col select.form-dropdown 
{
    width: 300px;
    height: 2em;
    padding: 0;
	margin: 0;
	border: solid 1px #e6e6e6;/* grey input border colour */
}
#advanced_search-holder .right-col input.form-textbox
{
	width: 286px;
	padding: 0 6px;
}

#search-keyword input[type=text] { width: 60%; padding: 0 6px; }

.uniForm select
{
	height: 2em;
}

.uniForm select[multiple]
{
	height: 6em;
}
#advanced_search-holder .right-col input.widgetTextbox {
	width: 286px;
	padding: 0.4em 6px;
	border: solid 1px #e6e6e6;/* grey input border colour */
}

/* end advanced search / job alert form */

.Member-nojob-alerts
{
	margin-top: 1em;
}